<ion-view title="change-password" hide-nav-bar="true" id="page6" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="changePassword-button-bar4" class="button-bar">
      <button id="changePassword-button20" class="button button-balanced  button-block icon ion-android-home"></button>
      <button id="changePassword-button21" class="button button-balanced  button-block icon ion-chatbubbles"></button>
      <button id="changePassword-button22" class="button button-balanced  button-block icon ion-android-people"></button>
    </div>
    <h1 id="changePassword-heading2" style="color:#12A112;">Change password</h1>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="changePassword-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">Update your profile password through below</p>
    </div>
    <form id="changePassword-form6" class="list">
      <label class="item item-input" id="changePassword-input14">
        <span class="input-label">Your old password</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <label class="item item-input" id="changePassword-input15">
        <span class="input-label">Your new password</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>