<ion-view title="chat" hide-nav-bar="true" id="page16" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="chat-button-bar19" class="button-bar">
      <a ui-sref="home" id="chat-button16" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"> 10</a>
      <a ui-sref="chatList" id="chat-button17" style="color:#F63D0F;" class="button button-balanced  button-block icon ion-chatbubbles"> 10</a>
      <button id="chat-button21" class="button button-balanced  button-block icon ion-android-people"></button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="chat-list14">
      <ion-item class="item-avatar balanced" id="chat-list-item34">
        <p style="white-space:normal;">Hiii!! how ar you?? asfa sffas fasf asfas fasf asfas fas fas fasf asf as fas fasf asf asfasfas fa sdfdfsdfsd dsfdsf</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="chat-list15">
      <ion-item class="item-icon-right balanced" id="chat-list-item37">I'm fine, what about you??
        <span class="item-note">replied on 16th March 2017 11:23PM</span>
        <i class="icon ion-android-contact"></i>
      </ion-item>
    </ion-list>
    <div class="list card" id="chat-card21">
      <ion-item class="item-avatar balanced" id="chat-list-item40">
        <p>check out the image</p>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div class="list card" id="chat-card22">
      <ion-item class="item-avatar" id="chat-list-item42">
        <p>Listen to it</p>
      </ion-item>
      <ion-item class="item-icon-left assertive" id="chat-list-item43">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>