<ion-view title="edit-profile" hide-nav-bar="true" id="page5" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="editProfile-button-bar3" class="button-bar">
      <button id="editProfile-button14" class="button button-balanced  button-block icon ion-android-home"></button>
      <button id="editProfile-button18" class="button button-balanced  button-block icon ion-chatbubbles"></button>
      <button id="editProfile-button19" class="button button-balanced  button-block icon ion-android-people"></button>
    </div>
    <h1 id="editProfile-heading1" style="color:#12A112;">Edit Profile</h1>
    <div>
      <img src="img/09er1lebQHarK6a0Vcvc_no-image-icon.svg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="editProfile-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">To change profile image
        <strong>click on the image</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="editProfile-form5" class="list">
      <div id="editProfile-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#12A112;">Update your display name through below</p>
      </div>
      <label class="item item-input" id="editProfile-input12">
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <div id="editProfile-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#12A112;">Update your email through below</p>
      </div>
      <label class="item item-input" id="editProfile-input13">
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>