<ion-view title="Friends" hide-nav-bar="true" id="page8" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="friends-button-bar8" class="button-bar">
      <button id="friends-button34" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"> 10</button>
      <button id="friends-button35" style="color:#F63D0F;" class="button button-balanced  button-block icon ion-chatbubbles"> 10</button>
      <button id="friends-button36" class="button button-balanced  button-block icon ion-android-people"></button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="friends-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">
        <strong>Friends</strong>
      </p>
    </div>
    <ion-list id="friends-list3">
      <ion-item class="item-avatar item-icon-right balanced" id="friends-list-item1">
        <h2balanced>name
          <p style="white-space:normal;">number email friend-since last-seen</p>
          <i class="icon ion-android-cancel"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="friends-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">
        <strong>Others</strong>
      </p>
    </div>
    <ion-list id="friends-list4">
      <ion-item class="item-avatar item-icon-right balanced" id="friends-list-item6">
        <h2balanced>name
          <p style="white-space:normal;">number email friend-since last-seen</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>