<ion-view title="home" hide-nav-bar="true" id="page9" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button8" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"></button>
      <button id="home-button9" class="button button-balanced  button-block icon ion-chatbubbles"></button>
      <button id="home-button10" class="button button-balanced  button-block icon ion-android-people"></button>
    </div>
    <ion-list id="home-list5">
      <ion-item class="item-thumbnail-left item-icon-right" id="home-list-item8">
        <h2>Image heading</h2>
        <p style="white-space:normal;">XXXXXXXXXXX Posted On 12:59PM From location unknown</p>
        <i class="icon ion-android-contact"></i>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider1"> </ion-item>
      <ion-item class="item-avatar" id="home-list-item9">
        <h2> XXXXXXXXXXX Says</h2>
        <p style="white-space:normal;">dsfdfdsf ds fsd sdg ds sdgds gds gsdg sdg sd gsdg sd sd gsd gsdg sd gds sdg dsg dsg sdsd
          <br> Posted On 12:59PM From location unknown</p>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider2"> </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="home-list-item11">
        <h2>Image heading</h2>
        <p style="white-space:normal;">XXXXXXXXXXX Posted On 12:59PM From location unknown</p>
        <i class="icon ion-android-contact"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>