<ion-view title="Join Life" hide-nav-bar="true" id="page2" style="background-color:#43DB57;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="joinLife-form2" class="list">
            <div class="spacer" style="width: 300px; height: 53px;"></div>
            <div>
                <img src="img/SGUbKOGfRnW1HwVr2dI8_logolife4.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <div id="joinLife-markdown4" class="show-list-numbers-and-dots">
                <p style="color:#12A112;">For India
                    <strong>+91</strong> will be added autometically</p>
            </div>
            <label class="item item-input" id="joinLife-input7">
        <input type="text" placeholder="Enter your Mobile Number" style="font-size: larger;"  maxlength="10" data-ng-focus="setCurrentElement($event)" data-ng-change="mobileNumberCheckOnChange()" data-ng-model="user_mobileNumber">
      </label>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <label class="item item-input" id="joinLife-input7">
        <input type="text" placeholder="Enter your Email-Id" style="font-size: larger;"  data-ng-focus="setCurrentElement($event)" data-ng-change="emailCheckOnChange()" data-ng-model="user_email">
      </label>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <ion-list id="joinLife-list1">
                <label class="item item-input" id="joinLife-input4">
          <input type="text" placeholder="Enter your Full Name" style="font-size: larger;" data-ng-model="user_fullName">
        </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <label class="item item-input" id="joinLife-input6">
        <input type="password" placeholder="Enter your desired password" style="font-size: larger;" data-ng-model="user_password">
      </label>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <div id="joinLife-markdown1" class="show-list-numbers-and-dots">
                <p style="color:#43DB57;">test data</p>
            </div>
            <button id="joinLife-button3" class="button button-balanced  button-block" data-ng-click="joinLife()">Lets join LIFE</button>
        </form>
    </ion-content>
</ion-view>