<ion-view title="reaction" hide-nav-bar="true" id="page13" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="reaction-button-bar15" class="button-bar">
      <a ui-sref="home" id="reaction-button23" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"> 10</a>
      <a ui-sref="chatList" id="reaction-button24" style="color:#F63D0F;" class="button button-balanced  button-block icon ion-chatbubbles"> 10</a>
      <a ui-sref="friends" id="reaction-button25" class="button button-balanced  button-block icon ion-android-people"></a>
    </div>
    <h3 id="reaction-heading7" style="color:#12A112;">Name's post</h3>
    <div id="reaction-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">image description</p>
    </div>
    <div id="reaction-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#12A112;">like/dislike</p>
    </div>
    <div id="reaction-button-bar16" class="button-bar">
      <button id="reaction-button26" class="button button-balanced  button-block icon ion-thumbsup"></button>
      <button id="reaction-button27" class="button button-balanced  button-block icon ion-android-favorite-outline"></button>
      <button id="reaction-button28" class="button button-balanced  button-block icon ion-thumbsdown"></button>
    </div>
    <ion-list id="reaction-list7">
      <ion-item class="item-icon-right" id="reaction-list-item16">Name 1
        <i class="icon ion-ios-contact"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="reaction-list-item17">Name 2
        <i class="icon ion-ios-contact"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="reaction-list-item18">Name 3
        <i class="icon ion-ios-contact"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="home" id="reaction-button29" class="button button-balanced  button-block icon ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>