<ion-view title="share-location" hide-nav-bar="true" id="page19" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="shareLocation-button-bar24" class="button-bar">
      <a ui-sref="home" id="shareLocation-button76" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"> 10</a>
      <a ui-sref="chatList" id="shareLocation-button77" style="color:#F63D0F;" class="button button-balanced  button-block icon ion-chatbubbles"> 10</a>
      <a ui-sref="friends" id="shareLocation-button78" class="button button-balanced  button-block icon ion-android-people"></a>
    </div>
    <h3 id="shareLocation-heading11" style="color:#12A112;">Share your location</h3>
    <form id="shareLocation-form10" class="list">
      <button id="shareLocation-button79" class="button button-balanced  button-block icon-right ion-android-share-alt">Share</button>
    </form>
    <a ui-sref="home" id="shareLocation-button80" class="button button-balanced  button-block icon ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>