<ion-view title="update-status" hide-nav-bar="true" id="page14" style="background-color:#43DB57;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="updateStatus-button-bar17" class="button-bar">
      <a ui-sref="home" id="updateStatus-button30" style="border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon ion-home"> 10</a>
      <button id="updateStatus-button43" style="color:#F63D0F;" class="button button-balanced  button-block icon ion-chatbubbles"> 10</button>
      <a ui-sref="friends" id="updateStatus-button44" class="button button-balanced  button-block icon ion-android-people"></a>
    </div>
    <h3 id="updateStatus-heading8" style="color:#12A112;">Say something and share</h3>
    <form id="updateStatus-form8" class="list">
      <label class="item item-input" id="updateStatus-textarea1">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <button id="updateStatus-button45" class="button button-balanced  button-block icon-right ion-android-share-alt">Share</button>
    <a ui-sref="home" id="updateStatus-button62" class="button button-balanced  button-block icon ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>