<ion-view title="verify-otp" hide-nav-bar="true" id="page4" style="background-color:#43DB57;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <div>
            <img src="img/SGUbKOGfRnW1HwVr2dI8_logolife4.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <form id="verifyOtp-form3" class="list">
            <label class="item item-input" id="verifyOtp-input9">
        <input type="number" data-ng-model= "$parent.otp" placeholder="Enter the OTP send to your Email">
      </label>
        </form>
        <div id="verifyOtp-markdown9" class="show-list-numbers-and-dots">
            <p style="color:#12A112;">Didn't receive the OTP yet to <b>{{$parent.email}}</b>;
                <a href=javascript:void(0) data-ng-click="resendOTP()"><strong>Click here</strong></a> to resend</p>
        </div>
        <button id="verifyOtp-button4" data-ng-click="verifyOTP()" class="button button-balanced  button-block">Verify</button>
    </ion-content>
</ion-view>